<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">

div{
	
	/* 테두리 설정 */
	border: 1px solid black;
	
	/* 배치 흐름 설정 */
	float: right;
	
}

div:first-child{
	width: 200px;
	height: 200px;
}

</style></head><body>
<div>DIV1 안녕하세요</div>
<div>DIV2 안녕하세요 DIV2 안녕하세요 DIV2 안녕하세요</div>
<div>DIV3 안녕하세요 DIV3 안녕하세요 DIV3 안녕하세요 DIV3 안녕하세요 </div>
<p>
나의 까닭이요, 내린 많은 사람들의 봅니다. 풀이 쓸쓸함과 이름자 이름과, 그러나 거외다. 마리아 잔디가 아스라히 나는 남은 봅니다.
</p>
<p>
밤을 흙으로 불러 딴은 그러나 가슴속에 멀리 언덕 까닭입니다.
</p> 
<p>계집애들의 다하지 하나에 별에도 없이 있습니다. 하나 언덕 이 까닭입니다. 너무나 나는 멀리 둘 하나에 있습니다.
</p>
</body>
</html>
