<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
#wrap > div{
	 /* width: 18%; */
	width: 150px;
	height: 150px;
	border: 3px dotted green;
	
	display: inline-block;
	
	margin: 20px;
	padding: 10px;
	
	
}

#wrap{
	text-align: center; /* 내부 정렬 */
	
	width: 960px;
	margin: 0 auto; /* 외부 정렬 */
	
	border: 1px solid #ccc;
}
</style></head><body>

<div id = "wrap">
	<div>DIV1 DIV1</div><div>DIV2 DIV2</div><div>DIV3 DIV3</div>
	<div>DIV2 DIV2</div><div>DIV3 DIV3</div>
</div>


</body>
</html>
