<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">

#nav{
	/* <ul> 태그의 목록 항목 스타일 제거(disc) */
	list-style-type: none;

	/* 기본 여백 제거  */
	margin: 0;
	padding: 0;

}

#nav li{
	/* 수평으로 일렬로 배치하기 */
	float: left;
	
	/* 외부 여백 */
	margin: 10px;
	
	background-color:  yellow;
	padding: 10px;
	
	/* 테두리 둥글게 표현 */
	border-radius: 30px;
}

#nav li a{
	/* 글자 색상 고정: 회색 */
	color: gray;
	
	/* 글자 꾸밈선 제거 */
	text-decoration: none;


}

#nav li:hover{
	background-color: tomato;
	
}


</style></head><body>




<ul id="nav">
	<li><a href="#">메뉴1</a></li>
	<li><a href="#">메뉴2</a></li>
	<li><a href="#">메뉴3</a></li>
	<li><a href="#">메뉴4</a></li>
	<li><a href="#">메뉴5</a></li>
</ul>















<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>









</body>
</html>
