<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
<header>
<h1>SEMANTIC TAG LAYOUT</h1>
<h3>시맨틱 태그</h3>
</header>


<!--  -->
<nav>
<ul>

	<li><a href="#">&lt;header&gt; 태그</a></li>
	<li><a href="#">&lt;nav&gt; 태그</a></li>
	<li><a href="#">&lt;section&gt; 태그</a></li>
	<li><a href="#">&lt;article&gt; 태그</a></li>
	<li><a href="#">&lt;footer&gt; 태그</a></li>
	
</ul>
</nav>


<hr>

<section>
<article>
	<p>내용물을 적는 곳! 기본 콘텐츠가 들어간다</p>
	
	<div class="imgBox"> 
		<img alt="가브리엘" src="../file/가브리엘.jpg" width="300" height="400" />
		<br>
		section태그 안에 article 태그로 표현하고 있다!
	</div>
	
</article>
</section>


<hr>

<footer style="font-size: 0.8em; text-align: center;">
powerd by Nyong<br>
&copy; Nyong
</footer>









</body>
</html>
