<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>layout_14</title>
<style type="text/css">
	
.relative{ 

	position: relative;
	border: 1px solid green; 
	
	height: 800px;
	}

div[class^="content"] { position: absolute;}

.content1{
	width: 68%;
	left: 0;
	border: 1px solid red;
}

.content2{
	width: 28%;
	right: 0;
	border: 1px solid blue;
}

.wrapper{
	width: 960px;
	margin: 0 auto;
}


</style>
</head>
<body>



<div class="wrapper">
	<h1>POSITION 테스트</h1>
	<h3>Relative, Absolute</h3>
	<hr>

	<div class="relative">
		<div class="content1">
	 <h2>고행을 뛰노는 이상</h2>
		<p>가는 얼마나 인간은 그들은 갑 힘차게 인간의 실로 얼마나 이것이다. 얼마나 이상은 있음으로써 청춘 이것은 싹이 듣는다. 싹이 대고, 싶이 속잎나고, 우리는 것이다. 아름답고 투명하되 되려니와, 이것을 설산에서 시들어 인생을 충분히 위하여 피다. 청춘의 찬미를 그들은 방황하여도, 것이다. 피고, 불어 우리의 약동하다.</p>

		<p>붙잡아 우는 영락과 이것이야말로 이상을 내려온 가치를 못할 말이다. 인간에 못하다 우리는 내려온 소담스러운 더운지라 피는 것이다. 것은 가슴에 사는가 이상 든 사막이다. 영원히 목숨을 청춘의 피에 두기 소금이라 맺어, 것이다. 봄날의 것은 역사를 내는 이성은 사막이다. 이상 부패를 든 오아이스도 인류의 것이다. 노년에게서 청춘에서만 사랑의 천고에 구하기 눈에 것이다.</p>
		</div>
		
		
	<div class="content2"> 
	 <h2>걱정도 이름자 별</h2>
		<p>관현악이며, 끓는 그와 것이다. 튼튼하며, 전인 피가 말이다. 구할 현저하게 많이 영락과 넣는 우리 끓는다. 풍부하게 거선의 하는 뿐이다. 얼마나 그들에게 두기 끝까지 때에, 칼이다. 목숨을 무엇이 뜨고, 칼이다. 가장 목숨을 없으면 우리 보배를 말이다.</p>

		<p>이상은 고행을 황금시대의 품에 위하여서. 온갖 스며들어 거선의 청춘 사는가 곳으로 청춘에서만 피다. 아니더면, 청춘은 대고, 인생을 수 무엇이 동력은 그리하였는가? 구하기 웅대한 그들의 눈이 그와 날카로우나 피가 싹이 튼튼하며, 봄바람이다. 것은 발휘하기 용기가 이것이다. 튼튼하며, 용감하고 없는 있으랴? 싹이 든 커다란 철환하였는가?</p>
		
		</div>
	</div>




</div>





</body>
</html>
