<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">

div{

	width: 250px;
	border: 1px solid #ccc;
}

span{
	/* 테두리는 인라인에 적절하지 않다 */
	/* border: 1px solid red; */
	
	background-color: #f99;
	
	width:  100px;
	height: 100px;
	
	/* 줄간격(기본값: 1.35em) */
	line-height: 1.8em;
	
	/* 글자크기(기본값: 16px) */
	font-size: 20px;
	
	padding: 5px;
	
	margin:  30px;
}

</style></head><body>

	<div>
		<span>SPAN1</span>
		<span>SPAN2</span>
		<span>SPAN3SPAN3SPAN3 SPAN3SPAN3SPAN3</span>
	</div>



	<div>
	<span>인도하겠다는</span>그들에게 청춘의 듣는다. 오직 뭇 힘차게 하는 붙잡아 무한한 같이 없으면 봄바람이다. 얼마나 소담스러운 얼마나 그들은 쓸쓸하랴?

	</div>















</body>
</html>
